<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link> |
      <router-link to="/view1">Load OneComplexView1 by path</router-link> |
      <router-link :to="{ name: 'view2', params: { customerId: '123' }}">Load OneComplexView2 by name</router-link>
    </div>
    <router-view/>
  </div>
</template>
<script lang="ts" src="./app.ts"/>
<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
